/* === Base Options === */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

a, p, h2, input {
  margin-bottom: 1.071rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* === Typography === */

body {
  color: #211138;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.social-media-text, h2, .sign-up_input-field {
  letter-spacing: 0rem;
}

.sign-up_password-recovery, .signup-button, .login-button, .copyright_footer {
  font-size: 0.8571rem;
  letter-spacing: 0.1714rem;
  text-transform: uppercase;
}

.social-media-text, .signup-button {
  color: #ffffff;
}

.sign-up_password-recovery, .login-button, .copyright_brand-name, .copyright_student-name {
  color: #6200ea;
}

h2 {
  font-size: 2.8571rem;
}

.social-media-text {
  white-space: nowrap;
}
.social-media-text {
  font-size: 2.143rem;
}

.sign-up_input-field::placeholder {
  opacity: 0.25;
}

.copyright_footer {
  color: #b2acba;
}