/* === Layout  === */

.layout_item--full-width {
  width: 100%;
}

.layout_item--70-percent {
  width: 70%;
}

.layout_item--67-percent {
  width: 67%;
}

.layout_item--50-percent {
  width: 50%;
}

.layout_item--centered-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.layout_item--floated-left {
  float: left;
}

.layout_item--float-right {
  float: right;
}

/* === Intervals === */

.gutter_horizontal--primary {
  margin-bottom: 220px;
}

.gutter_horizontal--secondary {
  margin-bottom: 130px;
}

/* === Helpers === */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}